Server_NodeRED.json
[{"id":"2d10cb64.5628e4","type":"tab","label":"Call for Code Server","disabled":false,"info":""},{"id":"a635528a.74835","type":"ibmiot in","z":"2d10cb64.5628e4","authentication":"boundService","apiKey":"e15ed697.1eeff8","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"tatsuyaZero","applicationId":"","deviceType":"+","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":false,"allApplications":"","allDeviceTypes":true,"allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":true,"qos":0,"x":90,"y":100,"wires":[["a3fa4766.421608"]]},{"id":"a3fa4766.421608","type":"function","z":"2d10cb64.5628e4","name":"Get temp,hum,press,time","func":"msg.temp = msg.payload[\"d\"][\"temp\"]*1;\nmsg.hum = msg.payload[\"d\"][\"hum\"]*1;\nmsg.press = msg.payload[\"d\"][\"press\"]*1;\nmsg.time = Date.now();\n\n// msg.payload =  {\n//     \"_id\": String(msg.time),\n//     \"temp\": msg.temp,\n//     \"hum\": msg.hum,\n//     \"press\": msg.press,\n//     \"timestamp\": msg.time\n// };\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":310,"y":100,"wires":[["7bc2cc08.951a04"]]},{"id":"37fe7af6.ae0276","type":"cloudant out","z":"2d10cb64.5628e4","name":"","cloudant":"5f30a643.20c218","database":"sensordata","service":"node-red-ryoga-cloudant-1594526747949-40136","payonly":true,"operation":"insert","x":630,"y":420,"wires":[]},{"id":"d8972797.6beff8","type":"http in","z":"2d10cb64.5628e4","name":"","url":"getdata","method":"get","upload":false,"swaggerDoc":"","x":130,"y":620,"wires":[["448659b6.e15048"]]},{"id":"9e2872c5.4a4fe","type":"http response","z":"2d10cb64.5628e4","name":"","statusCode":"","headers":{},"x":770,"y":620,"wires":[]},{"id":"d1c7cd2f.1fae3","type":"function","z":"2d10cb64.5628e4","name":"Create Send message","func":"var sendData = [];\nvar num = 0;\n\nfor(var data of msg.payload.reverse()){\n    num += 1;\n    if(num > 24){\n        break;\n    }\n    var str = {\n        \"temp\": data[\"temp\"],\n        \"outtemp\": data[\"outtemp\"],\n        \"timestamp\": data[\"timestamp\"]\n    }\n    sendData.push(str);\n}\n\nmsg.payload = {\n    \"data\": sendData\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":560,"y":620,"wires":[["9e2872c5.4a4fe","5eea42da.6a96ec"]]},{"id":"2ae1ecca.f207d4","type":"comment","z":"2d10cb64.5628e4","name":"Save in differencedata","info":"","x":120,"y":40,"wires":[]},{"id":"552b715c.c52ed","type":"comment","z":"2d10cb64.5628e4","name":"Get JSON Data from sensordata","info":"","x":150,"y":560,"wires":[]},{"id":"7bc2cc08.951a04","type":"cloudant in","z":"2d10cb64.5628e4","name":"","cloudant":"5f30a643.20c218","database":"user","service":"node-red-ryoga-cloudant-1594526747949-40136","search":"_all_","design":"","index":"","x":250,"y":180,"wires":[["932c7f7b.f87e"]]},{"id":"932c7f7b.f87e","type":"function","z":"2d10cb64.5628e4","name":"Get name,address","func":"for(var data of msg.payload){\n    if(data[\"name\"]==\"Tatsuya\"){\n        msg.name = data[\"name\"];\n        msg.address = data[\"residence\"];\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":450,"y":180,"wires":[["5b07f1aa.44ddc"]]},{"id":"1ce43be8.f91554","type":"function","z":"2d10cb64.5628e4","name":"Convert msg.payload for Yahoo!GeoCorderAPI","func":"msg.payload = {\n    \"appid\": msg.api[\"yahoo\"],\n    \"query\": msg.address,\n    \"output\": \"json\"\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":740,"y":260,"wires":[["51680cb6.f5a7f4"]]},{"id":"5b07f1aa.44ddc","type":"cloudant in","z":"2d10cb64.5628e4","name":"","cloudant":"5f30a643.20c218","database":"apikey","service":"node-red-ryoga-cloudant-1594526747949-40136","search":"_all_","design":"","index":"","x":250,"y":260,"wires":[["514c702e.0de6a"]]},{"id":"514c702e.0de6a","type":"function","z":"2d10cb64.5628e4","name":"Get Yahoo,Weather","func":"msg.api = {\n    \"yahoo\": msg.payload[0][\"Yahoo\"],\n    \"weather\": msg.payload[0][\"Weather\"]\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":430,"y":260,"wires":[["1ce43be8.f91554"]]},{"id":"51680cb6.f5a7f4","type":"http request","z":"2d10cb64.5628e4","name":"Yahoo!GeoCorderAPI","method":"GET","ret":"obj","paytoqs":"query","url":"https://map.yahooapis.jp/geocode/V1/geoCoder","tls":"","persist":false,"proxy":"","authType":"","x":300,"y":340,"wires":[["ee088bdc.6be5f8"]]},{"id":"ee088bdc.6be5f8","type":"function","z":"2d10cb64.5628e4","name":"Convert Geometry","func":"msg.geometry = msg.payload[\"Feature\"][0][\"Geometry\"][\"Coordinates\"].split(',');\nmsg.latitude = msg.geometry[1];\nmsg.longitude = msg.geometry[0];\nmsg.geocode = msg.latitude + \",\" + msg.longitude;\nmsg.payload = {\n    \"geocode\": msg.geocode,\n    \"units\": \"e\",\n    \"language\": \"ja-JP\",\n    \"format\": \"json\",\n    \"apiKey\": msg.api[\"weather\"]\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":550,"y":340,"wires":[["ed510ea4.765b7"]]},{"id":"ed510ea4.765b7","type":"http request","z":"2d10cb64.5628e4","name":"TheWeatherCompanyAPI","method":"GET","ret":"obj","paytoqs":"query","url":"https://api.weather.com/v3/wx/conditions/historical/hourly/1day","tls":"","persist":false,"proxy":"","authType":"","x":810,"y":340,"wires":[["e91c3fd4.a25a3"]]},{"id":"e91c3fd4.a25a3","type":"function","z":"2d10cb64.5628e4","name":"Convert msg.payload for sensordata","func":"msg.outtemp = msg.payload[\"temperature\"][0]\n\nmsg.payload =  {\n    \"_id\": String(msg.time),\n    \"temp\": msg.temp,\n    \"outtemp\": msg.outtemp,\n    \"hum\": msg.hum,\n    \"press\": msg.press,\n    \"timestamp\": msg.time\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":350,"y":420,"wires":[["37fe7af6.ae0276","7688c2e6.155a4c"]]},{"id":"7688c2e6.155a4c","type":"debug","z":"2d10cb64.5628e4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":630,"y":480,"wires":[]},{"id":"448659b6.e15048","type":"cloudant in","z":"2d10cb64.5628e4","name":"","cloudant":"5f30a643.20c218","database":"sensordata","service":"node-red-ryoga-cloudant-1594526747949-40136","search":"_all_","design":"","index":"","x":330,"y":620,"wires":[["d1c7cd2f.1fae3","3d0ee64f.88d11a"]]},{"id":"5eea42da.6a96ec","type":"debug","z":"2d10cb64.5628e4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":790,"y":560,"wires":[]},{"id":"3d0ee64f.88d11a","type":"debug","z":"2d10cb64.5628e4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":530,"y":560,"wires":[]},{"id":"e15ed697.1eeff8","type":"ibmiot","z":"","name":"","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"5f30a643.20c218","type":"cloudant","z":"","host":"4661debd-6d07-493d-87a2-8560e5c3b24e-bluemix.cloudant.com","name":""}]